.wrapper {
  text-align: center;
}

img {
  width: 300px;
  height: auto;
  border: 10px solid #E8E8E8;
  box-shadow: 0 0 1em black;
}

/*overlay when image is clicked*/
.overlay {
  background:rgba(0,0,0,0.7);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:none;/* */
    text-align:center;
}
